.fe-block-b2b0378001e3362754de li p a {
    color: #fff;
    text-decoration: none;
}
.fluid-engine.fe-68499c28cff2c03cc243829c {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.content-wrapper {
  padding: 0px !important;
}
.fe-65ffbe5bd3010f51f6a5cc64 {
   background-color: #001d3d;
}
.fe-65ffbe5bd3010f51f6a5cc64 p, .fe-65ffbe5bd3010f51f6a5cc64 h4{
  color: #fff;
}
use.sqs-use--icon {
    fill: #3DD8EC !important;
}
.social-icons-style-border .sqs-svg-icon--wrapper {
    box-shadow: 0 0 0 2px #3DD8EC !important;
}
svg:hover use.sqs-use--mask {
  fill: #3DD8EC !important;
}
svg:hover use.sqs-use--icon {
    fill: #001d3d !important;
}
.fe-block-b2b0378001e3362754de li::marker {
  color: #001d3d;
}
.fe-block-b2b0378001e3362754de li{
  position: relative;
  font-size: 16px !important;
  font-family: 'K2D', sans-serif;
}
.fe-block-b2b0378001e3362754de li:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/1589acfe-7963-4f72-b373-8f0b8fb8dee7/right-arrow%281%29+1.png');
    background-repeat: no-repeat;
    left: -20px;
    top: 4px;
}
.fe-block-b2b0378001e3362754de ul{
  padding-left: 25px;
}
.fe-block-b2b0378001e3362754de li p {
    margin: 4px;
}
.sqs-svg-icon--list {
    justify-content: flex-start !important;
}
.fe-block-f3d815850c78958de7ee li{
  position: relative;
  font-size: 16px !important;
  font-family: 'K2D', sans-serif;
}
.fe-block-f3d815850c78958de7ee li:before {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/89437004-ee7a-447f-aadc-9ae8a2741b0d/Group_1321317607.png');
    background-repeat: no-repeat;
    left: -22px;
    top: 4px;
}
.fe-block-f3d815850c78958de7ee ul{
  padding-left: 25px;
}
.fe-block-f3d815850c78958de7ee li p {
    margin: 4px;
}
.fe-block-0348b8ccda0e7c9b3264 ul{
  padding-left: 25px;
}
.fe-block-0348b8ccda0e7c9b3264 li{
  position: relative;
  font-size: 16px !important;
font-family: 'K2D', sans-serif;
}
.fe-block-0348b8ccda0e7c9b3264 li:nth-child(1):before {
    content: "";
    width: 81px;
    height: 19px;
    position: absolute;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/2ff44bbe-b024-4b92-abc5-ca3e97b3675b/image.png');
    background-repeat: no-repeat;
    left: -26px;
    top: 4px;
    background-size: contain;
}
.fe-block-0348b8ccda0e7c9b3264 li:nth-child(2):before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/df84b071-6f15-42fa-99d1-4f294b76342d/Group_1321317608.png');
    background-repeat: no-repeat;
    left: -22px;
    top: 4px;
}
.fe-block-0348b8ccda0e7c9b3264 li:nth-child(3):before {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/98deda76-b56d-4d79-bec3-3e02a95cf959/material-symbols_fax.png');
    background-repeat: no-repeat;
    left: -22px;
    top: 4px;
}
.fe-block-0348b8ccda0e7c9b3264 li p, .fe-block-0348b8ccda0e7c9b3264 li p a{
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
.fe-65ffbe5bd3010f51f6a5cc64 li p:before{
  display: none !important;
}
.fe-65ffbe5bd3010f51f6a5cc64 h4{
  font-family: "Big Shoulders", sans-serif;
}
.fe-block-9fe85a30bf1eea990dfa p{
 font-family: 'K2D', sans-serif; 
}
.fe-65ffbe5bd3010f51f6a5cc64 h4 {
    font-family: "Big Shoulders",sans-serif;
    margin: 22px 0px 0px !important;
}
.fe-683f2a3b1ef8db15bba22322{
  background-color: #666666;
  color: #fff;
  font-family: 'K2D', sans-serif;
}
.fe-683eec2205bd52674c41d8cb, .fe-683f55f13f0e8327fab4f339{
  display: block !important;  
}
header#header {
    background-color: #011d3d !important;
}
header#header {
    background-color: #011d3d !important;
}
.header-actions--right a.btn.btn--border.theme-btn--primary-inverse.sqs-button-element--tertiary {
    background-color: #3DD8EC;
    border: #3DD8EC;
    color: #011d3d;
    font-family: 'K2D', sans-serif !important;
    font-weight: 800 !important;
    border-radius: 6px !important;
    font-size: 18px !important;
    padding: 8px 30px !important;
}
.header-nav-item.header-nav-item--collection {
    font-family: 'K2D', sans-serif !important;
    font-weight: 800;
  font-size: 16px !important;
}
.header-actions--right a.btn.btn--border.theme-btn--primary-inverse.sqs-button-element--tertiary:hover {
    background-color: #011d3d;
    color: #fff;
}
.header-nav-item.header-nav-item--collection.header-nav-item--active a {
    color: #3ed8ed !important;
}
.header-nav-item.header-nav-item--collection a{
  color: #fff;
}
.header-nav-item.header-nav-item--collection a:hover{
    color: #3ed8ed !important;
}
.header-burger .top-bun, .header-burger .bottom-bun, .header-burger .patty {
    background-color: #fff !important;
}
body, html {
    overflow-x: hidden !important;
}
section[data-section-id="683eec1ba85d5c737742e845"] {
    min-height: unset !important;
    /* margin-top: -45px; */
}
.content-wrapper:has(.fe-683eec2205bd52674c41d8cb){
       padding: 0px !important;
    }
.fe-block-yui_3_17_2_1_1748954068135_1882 {
    grid-area: 1/1/9/46;
    z-index: 1;
}
    /* .custom-section {
        background-color: #CEF4FF;
        padding: 61px 0px;
    } */
.custom-section {
    background-color: #CEF4FF;
    padding: 61px 20px;
    max-width: 100% !important;
    margin: 0 auto;
}
    .custom-container {
        max-width: 1400px;
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .icon-list {
        width: 33.333333%;
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .icon-content h3 {
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        color: #001D3D;
        margin: 0px;
        padding-bottom: 14px;
        font-family: "Big Shoulders", sans-serif;
    }

    .content-date p {
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: #001D3D;
        margin: 0px;
        padding-bottom: 6px;
        font-family: 'K2D', sans-serif;
    }

    .content-date a {
        text-decoration: none;
        color: #001D3D;
    }
    .icon-list.inner-list {
    position: relative;
    padding: 27px 90px;
    justify-content: center;
}
.icon-list.inner-list:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000;
    left: 60px;
    top: 0;
}
.icon-list.inner-list:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000;
    right: 90px;
    top: 0;
}
.slider-nav {
    bottom: 10%;
}
.wrapper{
  padding: 70px 0;
}
.slider_block.slick-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center-slider .slick-slide{
  background-color: #b32532;
  color: #FFF;
  /* height: 200px; */
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
}
.center-slider .slick-slide,
.center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(0.8, 0.8);
  transition: all 0.4s ease-in-out;
}

.center-slider .slick-center,
.center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1.1);
  background-color: #000000;
}
.center-slider .slick-current.slick-active{
  transform: scale(1);
  background-color: #000000;
}

.slick-next, .slick-prev{
  z-index: 5;
}
.slick-next{
  right: 15px;
}
.slick-prev{
  left: 15px;
}
.slick-next:before, .slick-prev:before{
  color: #000;
  font-size: 26px;
}

.slider_block {
    height: 500px;
    position: relative;
    border: 2px solid #D9D9D9;
    border-radius: 15px;
}
.slider_block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 29, 61, 1) 0%, rgba(0, 29, 61, 0.53) 53%, rgba(0, 29, 61, 0.11) 100%);
    opacity: .5;
    z-index: -1;
    border-radius: 15px;
}
.slider_block.slick-slide.slick-current.slick-active::after{
    opacity: .9;
}

.slicer_content {
    position: relative;
}

.slider_block.slick-slide.slick-current.slick-active{
    text-align: center;
}
.slicer_content h2{
    font-family: "Big Shoulders", sans-serif;
    font-size: 46px;
    line-height: 33px;
    letter-spacing: 0.32px;
    font-weight: bold;
}
.slicer_content h2, .slicer_content p, .slicer_content a {
    color: #fff;
    text-align: center;
    margin: 0px !important;
    padding: 0px;
}

.slicer_content p {
    opacity: 0;
    font-family: 'K2D', sans-serif;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.32px;
    max-width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 0px 20px;
}
.slicer_content a {
    opacity: 0;
      font-family: 'K2D', sans-serif;
    font-size: 14px;
    line-height: 24.24px;
    letter-spacing: 0.32px;
    text-decoration: none;
    position: relative;
    /* transition: all ease-in-out 0.5s; */
}
.slicer_content a::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -55px;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/893ec23f-bf73-49de-b68d-f47acccbcd99/Group_1321317588_1.png');
    background-repeat: no-repeat;
    padding: 5px;
    height: 35px;
    width: 35px;
    background-color: #fff;
    background-position: center;
    border-radius: 50px;
}
.slider_block.slick-slide.slick-current.slick-active .slicer_content a{
    opacity: 1;
}
.slider_block.slick-slide.slick-current.slick-active .slicer_content p{
    opacity: 1;
}

.slider_block.slick-slide.slick-current.slick-active .slicer_content{
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
}

.slicer_content {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
}
.fe-683f55f13f0e8327fab4f339{
    display: block;
}
.slick-prev:before {
    background-repeat: no-repeat;
    font-size: 55px;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/686750d1-2e26-4639-962b-567dafe50818/left.png?content-type=image%2Fpng');
    color: transparent;
}
.slick-prev {
    left: 46%;
}
.slick-next {
    right: 48%;
}
.slick-next, .slick-prev {
    top: 112%;
}
.slick-next:before {
    color: transparent;
    background-repeat: no-repeat;
    /* font-size: 55px; */
    font-size: 80px;
    background-image: url('https://images.squarespace-cdn.com/content/65f4bf5ddc8f4674cad14c5c/a22f9a97-b0a9-4f9e-bb80-eea1416d782e/right.png?content-type=image%2Fpng');
}
.slick-prev:before {
    font-size: 80px;
}
.section-background{
   background-color: #fff !important;
}
.share-list-contact p a {
    text-decoration: none;
    color: #001D3D;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 {
    padding-top: 100px;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents textarea{
    resize: none;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents textarea {
    height: 210px !important;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents input[type=text],
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents input[type=email],
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents textarea {
    border-bottom: 1px solid #001D3D;
    border-top: unset !important;
    border-left: unset !important;
    border-right: unset !important;
    border-radius: unset !important;
    outline: unset;
    transition: all 0.3s ease;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents textarea:focus, .fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents input[type=email]:focus, .fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents input[type=text]:focus {
    border: 1px solid #3DD8EC !important;
    border-radius: 12px !important;
    transition: all 0.3s ease;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents button {
    border-radius: 3px;
    max-width: 100%;
    width: 100%;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 .fe-block-b3d73c9dcda3b3f54ddf {
    grid-area: 1/12/11/25;
    z-index: 1;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 .fe-block-yui_3_17_2_1_1748958959063_1610 {
    grid-area: 1/2/25/11;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents label span {
    font-family: 'K2D', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 form.react-form-contents button span {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    font-family: 'K2D', sans-serif;
}
.fe-block-yui_3_17_2_1_1748958959063_1610 {
    grid-area: 1/2/70/11;
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 .form-wrapper .form-item {
    padding-bottom: 47px;
    margin: 0px !important;
}
.container-list h3{
        font-size: 75px;
        font-family: "Big Shoulders", sans-serif;
        font-weight: bold;
        line-height: 70px;
        letter-spacing: -2.05px;
        color: #3DD8EC;
        margin: 0;
    }
.container-list h5 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'K2D', sans-serif;
    margin: 0;
    line-height: 29px;
    letter-spacing: -0.12px;
    padding-top: 32px;
}
.new-contect{
    width: 100%;
}
.share-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 28px;
}
.share-list-contact p {
    margin: 0px;
    font-size: 18px;
    font-family: 'K2D', sans-serif;
    line-height: 30px;
    font-weight: bold;
    color: #001D3D;
}
.share-list-contact {
    display: flex;
    align-items: center;
    gap: 9px;
}
.share-list-contact i {
    background-color: #3DD8EC;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.share-list-contact i::before {
    font-size: 18px;
    color: #fff;
}

@media (max-width:1230px) {
    .slick-prev {
    left: 43%;
}
}

@media (max-width:1100px){
    .content-date a {
    line-break: anywhere;
}
.icon-list.inner-list {
    padding: 27px 45px;
}
.icon-list.inner-list:after {
    right: 50px;
}
}
@media (max-width:940px){
.fluid-engine.fe-68499c28cff2c03cc243829c h1 {
    font-size: 55px;
}
    .fluid-engine.fe-68499c28cff2c03cc243829c h3{
        font-size: 20px;
    }
    .fe-block-yui_3_17_2_1_1749644629322_9647 {
        grid-area: 11/2/11/12;
    }
    .fe-block.fe-block-yui_3_17_2_1_1749644629322_9647 .btns-loop a.btn-primary1 {
        padding: 12.5px 7px;
    }
}
@media (max-width:900px){
.icon-list.inner-list:before {
    left: 30px;
}
}
@media (max-width:825px) {
    .slick-prev {
    left: 40%;
}
}
@media (max-width: 767px) {
    .custom-container {
    flex-wrap: wrap;
}
.icon-list {
    width: 100%;
    justify-content: flex-start;
}
.icon-list.inner-list {
    padding: 70px 0px;
    justify-content: flex-start;
}
.fluid-engine.fe-683eec2205bd52674c41d8cb {
    display: block;
}
.icon-list.inner-list:before,.icon-list.inner-list:after{
content: unset;
}
section[data-section-id="683eec1ba85d5c737742e845"] {
    margin-top: 0px;
}
.fe-block-yui_3_17_2_1_1748899994405_5339 .sqs-block{
    align-items: center;
  }
}
@media (max-width:625px) {
    .slick-prev {
    left: 36%;
}
}
@media (max-width:500px) {
    .slick-prev {
    left: 28%;
}
.wrapper {
    padding: 0px 0px 120px;
}
.slick-next, .slick-prev {
    top: 106% !important;
}
}


.fluid-engine.fe-683f106a6e828c38014321f1 {
    background-color: #3DD8EC;
    padding: 120px 0px;
    position: relative;
}
section[data-section-id="683f106acf6e1850d1433a40"] {
    min-height: 100% !important;
}
.fe-block.fe-block-yui_3_17_2_1_1748963296643_1516{
    position: relative;
}
.fe-block.fe-block-yui_3_17_2_1_1748963296643_1516:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 315px;
    background-color: #001D3D;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
}
.fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_2249 {
    grid-area: 6 / 4 / 6 / 9;
    margin-top: 20px;
    z-index: 99999999;
}
.fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_1516 {
    grid-area: 4 / 4 / 7 / 10;
}
.fluid-engine.fe-683f106a6e828c38014321f1 h2 {
    font-size: 42px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Big Shoulders", sans-serif;
    letter-spacing: -2.05px;
}
.fluid-engine.fe-683f106a6e828c38014321f1 a {
    border-radius: 3px !important;
    width: 155px !important;
    height: 46px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 23px !important;
    color: #3DD8EC;
    font-family: 'K2D', sans-serif !important;
}
.fe-block-yui_3_17_2_1_1749667471966_2201 {
    grid-area: 2/15/19/24 !important;
}
.fe-block-yui_3_17_2_1_1749667471966_2201 img {
    object-fit: contain !important;
}
@media (max-width:1306px){
.fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_1516 {
    grid-area: 3 / 4 / 7 / 11;
}
}
@media (max-width:1118px){
.fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_1516 {
    grid-area: 2 / 4 / 7 / 11;
}
}
@media (max-width: 850px){
.container-list h3 {
    font-size: 55px;
    line-height: 55px;
}
}
@media (max-width: 767px) {
    .fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_1516 {
        grid-area: 3 / 2 / 7 / 10;
    }
    .fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_2249 {
    grid-area: 4 / 2 / 6 / 9;
}
}

@media (max-width: 767px){
.fluid-engine.fe-683f106a6e828c38014321f1:before{
    content: unset;
}
.fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_1516 {
    grid-area: 1 / 2 / 7 / 10;
}
.fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_2249 {
    grid-area: 2 / 2 / 4 / 9;
}
.fe-block-yui_3_17_2_1_1748963296643_2626 {
    grid-area: 5/2/17/10;
    z-index: 3;
}
.fluid-engine.fe-683f106a6e828c38014321f1 {
/*     padding: 0px 0px; */
}
.fluid-engine.fe-65f4bf6540e14c742a1370e7 {
    padding: 50px 20px 0px 20px;
    display: block;
}
.fe-block.fe-block-yui_3_17_2_1_1748958959063_1610 {
    margin-bottom: 50px;
}
.fe-block-yui_3_17_2_1_1749667471966_2201 img {
    object-fit: contain !important;
}
.fe-block-yui_3_17_2_1_1749667471966_2201 {
    grid-area: 6/2/10/15 !important;
}
/* div#yui_3_17_2_1_1750961508197_71 {
    height: 400px;
    margin-top: 20px;
} */
.fe-block-yui_3_17_2_1_1749667471966_2201 .sqs-block-image .design-layout-fluid {
    width: 100%;
    height: 500px;
}
}
@media (max-width: 664px) {
.fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_2249 {
    grid-area: 3 / 2 / 4 / 2 !important;
}
}
@media (max-width: 425px) {
/* .fluid-engine.fe-683f106a6e828c38014321f1 .fe-block.fe-block-yui_3_17_2_1_1748963296643_2249 {
    grid-area: 6 / 2 / 6 / 8;
} */
}
